# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
credentials.json
token.json

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

#chroma_db
.chroma_db/

#chroma_db
.chroma_db.zip/
