# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env
credentials.json
token.json

# Django
*.sqlite3
db.sqlite3
media/
staticfiles/

# VS Code
.vscode/

chroma_db/
chroma_db.zip
*.csv
*.txt
chroma_db/f2eb75f3-90f3-4f7e-a568-7842b3659d4b